[submodule "pyMIRBasic"]
	path = pyMIRBasic
	url = https://github.com/ctralie/pyMIRBasic.git
[submodule "ExternalLibs/LargeScaleCoverSongId"]
	path = ExternalLibs/LargeScaleCoverSongId
	url = https://github.com/urinieto/LargeScaleCoverSongId.git
